body {
    margin: 0;
    min-height: 100vh;
    margin-top: 50px;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
    z-index: 1000;
}

nav>img {
    background-color: rgb(225, 225, 225);
    position: absolute;
    left: 10px;
    top: 10px;
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;
}

nav>button {
    background-color: #ffcd29;
    background: none;
    border: none;
    font-size: 16px;
    overflow: hidden;
}

#menu {
    display: none;
    position: relative;
}

#menu-dropdown {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;

    min-width: 150px;
    z-index: 1000;
}

#menu-dropdown a {
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#menu-container:hover #menu-dropdown {
    display: block;
}

#welcome {
    background-color: #ffcd29;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 200px;
    position: relative;
}

#welcome>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#welcome>div>button {
    background-color: black;
    color: gray;
    border: none;
    margin: 0 10px 60px;
}

#welcome>div>button:hover {
    text-decoration: none;
}

#welcome>button {
    border: none;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 100%;
}

#container1 img {
    border: solid gray 0.1px;
    width: 100%;
    min-height: 100px;
}

#container2 img {
    background-color: #bde3ff;
    width: 100%;
    min-height: 200px;
    display: block;
}

#container2 div {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#container2 button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
}

section>p {
    margin: 10px 0;
}

footer {
    background-color: gainsboro;
    padding: 25px 0;
    bottom: 0;
    align-items: center;
    align-content: center;
    text-align: center;
}

@media(max-width:500px) {
    nav>button {
        display: none;
    }

    #menu,
    #login {
        display: block;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}