@import url('./style.css');

body main {
  margin-top: 0;
}

#welcome {
  background: #ffcd29;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

#welcome div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#welcome>div>button {
  background: black;
  color: gray;
  border: none;
  margin: 0 10px 60px;
}

#welcome>div>button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

#welcome>div>button:active {
  opacity: 0;
  transform: scale(1);
}

#welcome>button {
  border: none;
  margin-bottom: 20px;
}

main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 25px;
  gap: 5%;
  width: 100%;
  box-sizing: border-box;
}

@media(max-width:500px) {
  main section {
    grid-template-columns: 1fr;
    padding-bottom: 20%;
  }
}

main section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container1 img {
  border: solid gray 1px;
  aspect-ratio: 16 / 9;
}

#container1 div {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 10px;
  width: 100%;
}

#container1 p {
  margin: 0;
}

#container2 article {
  position: relative;
}

#container2 img {
  background: #bde3ff;
  border-radius: 5px;
  aspect-ratio: 4 / 3;
}

#container2 div {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

#container2 button {
  background: black;
  color: white;
  border: none;
  padding: 5px 10px;
}