@import url('./style.css');

main{
  margin-top: 0;
}

#welcome {
  background-color: #ffcd29;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 200px;
  position: relative;
}

#welcome div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#welcome>div>button {
  background-color: black;
  color: gray;
  border: none;
  margin: 0 10px 60px;
}

#welcome>div>button:hover {
  text-decoration: none;
}

#welcome>button {
  border: none;
  margin-bottom: 20px;
}

main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  padding: 20px;
  margin: 20px;
}

@media(max-width:500px) {
  main section {
    grid-template-columns: repeat(1, 1fr);
  }
}

main article {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}

#container1 img {
  border: solid gray 0.1px;
  aspect-ratio: 16 / 9;
}

main p {
  margin: 10px;
}

main{
  width: 100%;
  object-fit: cover;
}
#container2 img {
  background-color: #bde3ff;
  display: block;
  aspect-ratio: 10 / 9;
}

#container2 div {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#container2 button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
}