:root {
  --bg-body: white;
  --bg-nav: white;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --font-body: Arial, sans-serif;
  --font-body-color: black;
  --font-nav: Arial, sans-serif;
  --font-nav-color: black;
}

body {
  background: var(--bg-body);
  font-family: var(--font);
  display: grid;
  grid-template-rows: 70px 1fr auto;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

nav {
  background: var(--bg-nav);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

nav img {
  background: rgb(225, 225, 225);
  box-shadow: var(--shadow);
  font-weight: bold;
  position: absolute;
  border-radius: 100%;
  left: 0;
  margin: 0 20px;
  height: 70px;
  width: 70px;
}

#search{
  background-color: #ccc;
  display: flex;
  align-items: center;
  margin-left: 80px;
  width: 100%;
  min-width: 1%;
}

#search> label{
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    font-size: 18px;
}

#search-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.search-input:focus {
  border-color: #007bff;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

nav ul {
  display: flex;
  width: 100%;
  gap: 5%;
  white-space: nowrap;
  overflow: unset;
  padding: 0 20px;
}

nav li {
  display: inline;
}

nav a {
  font-family: var(--font-nav);
  color: var(--font-nav-color);
  font-size: 16px;
  text-decoration: none;
  text-decoration: none;
}

#menu {
  position: relative;
}

#menu-dropdown {
  background: var(--bg);
  box-shadow: var(--shadow);
  display: none;
  position: absolute;

  min-width: 150px;
  z-index: 1000;
}

#menu-dropdown>a {
  display: block;
  text-decoration: none;
  padding: 10px;

}

#menu-container:hover #menu-dropdown {
  display: block;
}

@media(max-width:500px) {
  nav>ul li {
    display: none;
  }

  #search,
  #login,
  #menu{
  display: inline;
}
}

main {
  display: grid;
  margin: auto;
  width: 100%;
}

footer {
  background: gainsboro;
  display: grid;
  width: 100%;
  margin-top: 20px;
  padding: 25px 0;
  place-items: center;
}

img {
  object-fit: contain;
  text-align: center;
}

button:hover {
  cursor: pointer;
}