<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>NextPlay is your go-to platform for the latest game events, news, live streams, and guides.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Game Categories</a></li>
          <li><a href="../HTML/forums.html" class="text-white"><i class="fas fa-users"></i> Join Community</a></li>
          <li><a href="../HTML/help.html" class="text-white">Help</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white mr-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="text-center mt-3">
      <p>© 2025 NextPlay. All rights reserved.</p>
    </div>
  </div>
</footer>